* {
    border: none;
    border-radius: 0;
    font-family: "Cica";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    padding-bottom: 0px;
    padding-top: 0px;
}

window#waybar {
    background: transparent;
    color: white;
}

/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}


#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #temperature, #clock, #keyboard-state, #tray {
    padding: 0 3px;
    margin: 0 2px;
}

