[Desktop Entry]
Name=qBitTorrent w/Vopono
Comment=qbittorrent vopono torrent
Exec=fish -c '~/scripts/qbit_launch.fish /etc/wireguard/inazuma-NO-42.conf'
Terminal=false
Type=Application
Categories=Torrent;
